<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= RESTAURANT.name %>
  </title>
</head>

<body>
  <h1>Home Page</h1>
</body>
<!-- 2. -->
<p>
  <%= RESTAURANT.name %>
</p>
<p>
  <%= RESTAURANT.address %>
</p>
<p>
  <%= RESTAURANT.phone %>
</p>
<!-- 4. condition-->
<% if(true) { %>
  <p>Yes we are open!</p>
  <% } else { %>
    <p>Sorry,we are closed.</p>
    <% } %>
      <!-- ///// Exercise-2 -->




      </body>

</html>